@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f3f2ee;
}

/* Dark mode styles */
.dark {
  color-scheme: dark;
}

.dark body {
  background-color: #1a1a1a;
  color: #e5e5e5;
}